# 4TH SEMESTER MINI PROJECT

# STEP 1
# DATA ACQUISITION

In [24]:
## import common modules for data analysis
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [25]:
## How to read in the data as a Dataset

ds = pd.read_csv("C:/Users/prana/Heart Disease Dataset/archive/heart.csv")

In [26]:
## To see how does the dataset looks like
ds.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.000,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.100,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.600,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.000,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.900,1,3,2,0

In [27]:
ds.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.000,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.800,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.000,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.000,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.400,1,1,3,0

In [28]:
## To see the dimensions of dataset
ds.shape

(1025, 14)

In [29]:
## To see basic discription of dataset
pd.set_option('display.float_format', lambda x: '%.3f' % x)
ds.describe().transpose()

            count    mean    std     min     25%     50%     75%     max
age      1025.000  54.434  9.072  29.000  48.000  56.000  61.000  77.000
sex      1025.000   0.696  0.460   0.000   0.000   1.000   1.000   1.000
cp       1025.000   0.942  1.030   0.000   0.000   1.000   2.000   3.000
trestbps 1025.000 131.612 17.517  94.000 120.000 130.000 140.000 200.000
chol     1025.000 246.000 51.593 126.000 211.000 240.000 275.000 564.000
fbs      1025.000   0.149  0.357   0.000   0.000   0.000   0.000   1.000
restecg  1025.000   0.530  0.528   0.000   0.000   1.000   1.000   2.000
thalach  1025.000 149.114 23.006  71.000 132.000 152.000 166.000 202.000
exang    1025.000   0.337  0.473   0.000   0.000   0.000   1.000   1.000
oldpeak  1025.000   1.072  1.175   0.000   0.000   0.800   1.800   6.200
slope    1025.000   1.385  0.618   0.000   1.000   1.000   2.000   2.000
ca       1025.000   0.754  1.031   0.000   0.000   0.000   1.000   4.000
thal     1025.000   2.324  0.621   0.000   2.000   2.000   3.000   3.000
target   1025.000   0.513  0.500   0.000   0.000   1.000   1.000   1.000

# STEP 2
# DATA FILTERING

In [30]:
# To find the missing values
ds.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [31]:
# To see what percentage of missing values are present in each column
ds.isnull().sum()/len(ds)*100

age        0.000
sex        0.000
cp         0.000
trestbps   0.000
chol       0.000
fbs        0.000
restecg    0.000
thalach    0.000
exang      0.000
oldpeak    0.000
slope      0.000
ca         0.000
thal       0.000
target     0.000
dtype: float64

In [32]:
# To check if there are any dublicate rows
ds.duplicated().sum()

723

# STEP 3
# MAKING A MACHINE LEARNING MODEL

In [33]:
# checking the distribution of Target Variable
ds['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

# 1--> Defective Heart
# 0--> Non-Defective Heart

In [34]:
X = ds.drop(columns='target',axis=1)

Y = ds['target']

In [35]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0    1.000
1      53    1   0       140   203    1        0      155      1    3.100
2      70    1   0       145   174    0        1      125      1    2.600
3      61    1   0       148   203    0        1      161      0    0.000
4      62    0   0       138   294    1        1      106      0    1.900
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1    0.000
1021   60    1   0       125   258    0        0      141      1    2.800
1022   47    1   0       110   275    0        0      118      1    1.000
1023   50    0   0       110   254    0        0      159      0    0.000
1024   54    1   0       120   188    0        1      113      0    1.400

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [36]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [37]:
# Splitting the Data into Training data & Testing Data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [38]:
print(X.shape, X_train.shape, X_test.shape)

(1025, 13) (820, 13) (205, 13)

# Model Training

In [39]:
model = LogisticRegression()

In [40]:
# training the LogisticRegression model with Training Data
model.fit(X_train, Y_train)

c:\Users\prana\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [41]:
# Model Evaluation
# Accuracy of Training Data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [42]:
print('Accuracy of Training Data = ',training_data_accuracy)

Accuracy of Training Data =  0.8524390243902439

In [43]:
# Model Evaluation
# Accuracy of Test Data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [44]:
print('Accuracy of Test Data = ',test_data_accuracy)

Accuracy of Test Data =  0.8048780487804879

# Building a Predictive System

In [49]:
input_data = (30,0,0,112,149,0,1,125,0,1.6,1,0,2)
 
# change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the numpy array as we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('The person does not have a Heart Disease')
else:
    print('The person has a Heart Disease')

[1]
The person has a Heart Disease

c:\Users\prana\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [46]:
input_data = (51,1,0,140,298,0,1,122,1,4.2,1,3,3)
 
# change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the numpy array as we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('The person does not have a Heart Disease')
else:
    print('The person has a Heart Disease')

[0]
The person does not have a Heart Disease

c:\Users\prana\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(